
<table class="table-fixed w-full text-left whitespace-no-wrap mb-2">
  <thead>
    <tr>
      <th class="w-4/12 px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800 rounded-tl rounded-bl">
        <%= link_to "Name #{arrow :name, order_by, sort: sort}", "#",
                    data: { reflex: "click->TabularReflex#order",
                    column_name: :name,
                    direction: direction(sort) } %>
      </th>
      <th class="w-3/12 px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">
        <%= link_to "Key #{arrow :key, order_by, sort: sort}", "#",
                    data: { reflex: "click->TabularReflex#order",
                    column_name: :key,
                    direction: direction(sort) } %>
      </th>
      <th class="w-3/12 px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">
        <%= link_to "Lead #{arrow :lead, order_by, sort: sort}", "#",
                    data: { reflex: "click->TabularReflex#order",
                    column_name: :lead,
                    direction: direction(sort) } %>
      </th>
      <th class="w-1/12 px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">
        Edit
      </th>
      <th class="w-1/12 px-4 py-3 title-font tracking-wider font-medium text-white text-sm bg-gray-800">
        Del
      </th>
    </tr>
  </thead>
  <tbody>
    <% projects.each_with_index do |project, index| %>
      <tr>
        <td class="px-4 py-3"><%= project.name %></td>
        <td class="px-4 py-3"><%= project.key %></td>
        <td class="px-4 py-3"><%= project.username %></td>
        <td id="<%= "edit-project-#{index}" %>" class="px-4 py-3">
          <% if policy(project).update? %>
            <%= link_to edit_project_path(project) do
              render_svg "pencil", styles: "h-6 text-gray-600 hover:text-white"
            end %>
          <% end %>
        </td>
        <td id="<%= "destroy-project-#{index}" %>" class="px-4 py-3 ">
          <% if policy(project).destroy? %>
            <%= link_to project, method: :delete, data: { confirm: 'Are you sure?' } do
              render_svg "trash", styles: "h-6 text-gray-600 hover:text-white"
            end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

