<section class="text-gray-300 bg-gray-900 body-font">
  <div class="container px-5 py-2 mx-auto">
    <h1 class="text-3xl text-white">Projects</h1>
    <div class="mt-2 flex justify-between items-center w-full mx-auto">
      <div class="flex-shrink">
        <div class="relative rounded-md shadow-sm">
          <input id="search"
                 type="search"
                 class="form-control form-control-lg w-full py-1 pl-2 pr-12 rounded bg-gray-700 focus:outline-none focus:text-gray-900 focus:bg-white placeholder-gray-300 focus:placeholder-gray-400"
                 placeholder="Search..."
                 value="<%= @query %>"
                 data-reflex="input->SearchReflex#query"
                 data-reflex-root="#search-results">

          <div class="absolute inset-y-0 right-0 mr-2 flex items-center">
            <%= render_svg "search", styles: "text-gray-300 focus:text-gray-800 h-4 w-4 fill-current" %>
         </div>
        </div>
      </div>

      <%= link_to new_project_path, class: "flex items-center justify-center btn btn-outline ml-4 h-8 border-2 btn-primary:hover flex-shrink-0 text-xs md:text-sm focus:outline-none focus:border-white" do %>
        <%= render_svg "plus", styles: "inline-block h-6 text-gray-300 focus:text-white hover:text-white fill-current" %>
        <span class="hidden sm:inline-block sm:pr-1">Create</span>
      <% end %>
    </div>

    <div class="mt-2 w-full mx-auto">
      <div id="search-results">
        <p class="hidden sm:block lead mb-2"><%= @pagy.count %> results found</p>
        <% if @pagy.count > 0 %>
          <%= render "projects/table", projects: @projects, order_by: @order_by, sort: @direction %>
          <div class="sm:mt-6">
            <%= render(PaginateComponent.new(pagy: @pagy, root: "#search-results")) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
